<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
      <h2 class="section-heading">About CarpentryConnect Johannesburg 2018</h2>
      <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
      <ul class="timeline">
          
          
          
          
<li>
    <div class="timeline-image">
        <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
    </div>

    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>How Does CarpentryConnect Help Build Digital & Computational Literacy?</h4>
            <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
        </div>
        <div class="timeline-body">
            <p class="text-muted"><a href="https://carpentries.org/">The Carpentries</a> is a non-profit organisation that teaches foundational computational, coding, and data science skills to researchers, students and academic support staff worldwide. The organisation also teaches evidence-based train-the-trainer workshops and develop their own lessons published under open licenses and free to use. Carpentries workshops has been running at South African public universities and research institutions since 2014 and almost 100 instructors have been trained to teach digital and computational concepts to novices. </p>
        </div>
    </div>
       </li>

  <li class="timeline-inverted">
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="img/about/2_1.jpg" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>What is CarpentryConnect Johannesburg2018?</h4>
              <!-- <h4 class="subheading">An Agency is Born</h4> -->
          </div>
          <div class="timeline-body">
            <p class="text-muted">The <a href="http://www.carpentrycon.org">first CarpentryCon</a> took place in Dublin in May 2018. CarpentryCon is the key community-building and networking event in The Carpentries' annual calendar of activities.<br \>
                CarpentryConnect events are regional Carpentry Community meetups that take place outside of the main international CarpentryCon meetup. The first CarpentryConnect will be held in Johannesburg and will bring together newer and more experienced community members to share knowledge, to network, to develop new skills, and to develop strategies for building strong local communities. The theme of the event is <em>"Building Bridges"</em>.
<a href="https://github.com/TENET-RCCPII/CarpentryConnect-Johannesburg/blob/gh-pages/A-Z_of_CarpentryConnect-Johannesburg2018.md">See the A-Z of CarpentryConnect-Johannesburg2018</a> for specific information.
          </div>
      </div>
  </li>
           

 <li>
    <div class="timeline-image">
        <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
    </div>

    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>Who is organizing it?</h4>
            <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
        </div>
        <div class="timeline-body">
            <p class="text-muted"> The event is collaboratively funded and organised by <a href="https://www.sadilar.org/">South African Centre for Digital Language Resources</a> (SADiLaR) and the <a href="https://tenet-rccpii.github.io/rccpii-2018/">Rural Campuses Connection Project II</a> (RCCPII). </p>
        </div>
    </div>
       </li>

  <li class="timeline-inverted">
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="img/about/2_1.jpg" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>When and where will it be held?</h4>
              <!-- <h4 class="subheading">An Agency is Born</h4> -->
          </div>
          <div class="timeline-body">
            <p class="text-muted">CarpentryConnect Johannesburg 2018 will be held from 3 - 7 September, 2018, at <a href="https://goo.gl/maps/9EDQh3swCkt">Birchwood Hotel and Conference Centre</a>, Johannesburg, South Africa. 
          </div>
      </div>
  </li>

   <li>
       <div class="timeline-image">
           <img class="img-circle img-responsive" src="img/about/3_1.jpg" alt="">
       </div>
       <div class="timeline-panel">
           <div class="timeline-heading">
               <h4>Who is teaching there?</h4>
               <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
           </div>
           <div class="timeline-body">
               <p class="text-muted"><p class="text-muted">We do not plan to have keynote speakers, but will run several practical sessions where participants can choose to learn how to use tools such as R, Python, OpenRefine, Spreadsheets and more at an introductory level, or strengthen their skills in more advanced topics such as image analysis in Python, and more. We will also run a Carpentry instructor training workshop. Invited trainers and instructors include: <a href="https://allegravia.github.io/website/about/">Allegra Via</a> (Italy), specialised in bioinformatics training; Sarah Brown (USA), electrical engineer with expertise in machine learning; Jez Cope (UK), librarian with computer science and mathematics background; and more...</p>
           </div>
       </div>
   </li>


   <li class="timeline-inverted">
       <div class="timeline-image">
           <img class="img-circle img-responsive" src="img/about/4_1.jpg" alt="">
       </div>
       <div class="timeline-panel">
           <div class="timeline-heading">
               <h4>How can I contribute?</h4>
               <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
      </div>
           <div class="timeline-body">
               <p class="text-muted"><a href="http://qkt.io/CarpentryConnectJHB">Register to attend</a>. We will be looking for co-instructors for the Carpentries workshops as well as helpers. We are also seeking volunteers to support sessions, help with marshalling and registration, as well as many other tasks. <a href="mailto: carpentryconnect-jhb-2018@googlegroups.com">Email us</a> if you can help. </p>

          </div>
       </div>
   </li>

   <li>
         <div class="timeline-image">
             <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
         </div>

         <div class="timeline-panel">
             <div class="timeline-heading">
   <h4>Will I fit in?</h4>
   <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
             </div>
             <div class="timeline-body">

             <p class="text-muted">We are working hard to ensure that everyone feels welcome at CarpentryConnect Johannesburg 2018. Attendees must be prepared to abide by our <a href="https://software-carpentry.org/conduct/">Code of Conduct</a>. We are providing <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbBHzZk-xEOHV5v3Zpd_QiZOEVrFouAwArkG5xvoDaK2fyCQ/viewform">travel assistance</a> to facilitate attendance from as wide a group as possible. </p>
  </div>
     </div>
               </li>


     
            <li class="timeline-inverted">
            <div class="timeline-image">
            <img class="img-circle img-responsive" src="img/about/2_1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
            <h4>Contact us</h4>
              <!-- <h4 class="subheading">An Agency is Born</h4> -->
            </div>
            <div class="timeline-body">
            <p class="text-muted"></p>Please get in touch with your questions and suggestions by emailing us <a href="carpentryconnect-jhb-2018@googlegroups.com">carpentryconnect-jhb-2018@googlegroups.com</a>.</p>
            </div>
        </div>
    </li>

 <li class="timeline-inverted">
       <div class="timeline-image">
           <a style="color:white" href="http://qkt.io/CarpentryConnectJHB"><h4>Join
               <br>Us
               There!
               </h4></a>
           </div>
           <div class="timeline-body">
            <p class="text-muted">Registrations are now open!</p>
   </li>


   </li>
      </ul>
                </div>
            </div>
        </div>
    </section>
