<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">About the Blended Learning SIG Meeting - Johannesburg 2018</h2>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image"> <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
                                </div>

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                    <h4>What is the ASAUDIT Blended Learning SIG?</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Over the past few years most universities in SA have established or participated in various forums to discuss and develop institutional eLearning offerings, approaches, strategies, and policies. These discussions and developments often take place inside the IT departments, the Centres for Teaching and Learning or within Faculties. Through conversations within ASAUDIT, IT directors and practitioners recognised the need to find a platform where discussions can span institutions, as well as academic departments, teaching and learning centres, and the IT support divisions to optimise skill sharing and reduce duplication of efforts.

The ASAUDIT Blended Learning SIG was established in 2017 and two in-person meetings were held since then. The first meeting took place at Stellenbosch University in November 2017 and the second at Nelson Mandela University in Port Elizabeth on 18 June 2018. 
 </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image"><img class="img-circle img-responsive" src="img/about/2_1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>What is the Aim of the Blended Learning SIG Meeting JHB 2018</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">To establish a sustainable community of practice around blended learning and e-learning across South African universities, practitioners and technology providers have to find ways to communicate regularly about requirements, challenges, technologies, opportunities, and solutions. The ASAUDIT Blended Learning SIG have already provided opportunities for two in-person meetings. These meetings were well-represented by institutions across the country. The third meeting taking place in November in Johannesburg, will provide opportunities for new members to join the existing community and to expand the conversation. It will also give the community an opportunity to re-visit some of the conversations from previous meetings to decide what actions can be taken to further ideas presented previously.
                                        Participants can find an <a href="https://bit.ly/2CkVEOQ">A-Z of the Blended Learning SIG Meeting</a> that should answer all the questions they may have about the event.
                                        </p>
                                    </div>
                               </div>
                            </li>
           
                            <li>
                                <div class="timeline-image"><img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
                                </div>

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Who is organizing it?</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted"> <p>The Blended Learning SIG Meeting Johannesburg 2018 is funded by the <a href="https://tenet-rccpii.github.io/rccpii-2018/">Rural Campuses Connection Project II</a> (RCCPII). The event is co-organise by representatives from the ASAUDIT Blended Learning SIG (Adelle Lotter and Lianne Keiller), the RCCPII Capacity Development Initiative (Anelda van der Walt), and ASAUDIT (Charlene Isaacs).
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2_1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>When and where will it be held?</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">The Blended Learning SIG Meeting will be held on 19 & 20 November, 2018, at <a href="https://goo.gl/maps/9EDQh3swCkt">Birchwood Hotel and Conference Centre</a>, Johannesburg, South Africa.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/3_1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Who are the Presenters?</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted"><a href="https://www.surf.nl/en/innovationprojects/customised-education/flexible-and-personal-learning-environment.html">Marieke de Wit</a>, Community Manager for Educational Services at the Netherland's SURFnet, will kick of the event with an online presentation. Other presenters will be confirmed. We also want to hear from representatives from the various universities about challenges and implemented solutions as well as trials that are being conducted to test new ideas in the area of blended/e-learning. Please <a href="mailto: sa-blended-learning-sig@googlegroups.com">reach out to the organisers</a> if you have suggestions for speakers or would like to present something.
                                        </p>
                                    </div>
                                </div>
                            </li>


                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/4_1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>How can I contribute?</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Register to attend or let us know if you would like to present something or host a discussion session. <a href="mailto: sa-blended-learning-sig@googlegroups.com">Email us</a> if you have ideas. 
                                        </p>

                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
                                </div>

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Who should participate?</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We invite IT practitioners developing/supporting digital learning at their institutions, 
                                            teaching and learning proffessional staff, lecturers, and other staff members from public universities in South Africa
                                            to join us.  RCCPII is accepting <a href="https://github.com/TENET-RCCPII/BlendedLearningSIG-JHB-2018/raw/gh-pages/img/Introducing-ASAUDIT-RCCPII-Blended-Learning-SIG-Meeting.pdf"><strong>up to three nominations from each institution</strong></a>. We hope to attract a diverse
                                            group of participants and are working hard to ensure that everyone feels welcome at the Blended Learning SIG Johannesburg 2018. 
                                            Attendees, helpers, and presenters must be prepared to abide by the RCCPII <a href="https://tenet-rccpii.github.io/rccpii-2018/coc/">Code of Conduct</a>. 
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2_1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Contact us</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted"></p>Please get in touch with your questions and suggestions by <a href="sa-blended-learning-sig@googlegroups.com">emailing us</a>.
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <a style="color:white"><h4>Join <br>Us There!</h4></a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    </p>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
