<section id="accom" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">Accommodation Options for the Blended Learning SIG Meeting</h2>
	      <p>Accommodation has been arranged at a special rate at Birchwood Conference and Hotel
		   Please contact us to assist with your booking should you be responsible for funding your own accommodation.
	      </p>
	      <p>
		      If you have been nominated by your institution to attend, please indicate this on your registration form. Accommodation for up to three
		      nominees per institution will be funded by the RCCPII grant. For more information, please get in touch with the organisers.
	      </p>
	    </div>
    </div>
  </div>
</section>
