<section id="contact">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-left">
                                <h2 class="section-heading">Contact Us</h2>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-12"><h4>IMF 2019 Contacts</h4>
                                <p>The following people are the lead organisers and can be contacted directly:</p>
                                        <ul> 
                                                <li>  <a href="mailto:anelda@talarify.co.za">Anelda van der Walt</a> : <em>RCCPII Capacity Development Co-project Manager</em>
                                        </ul>
                                   
                                <h4>General Inquiries</h4>
                                        <ul>
                                                <li><a href="mailto:imf-2019@googlegroups.com">IMF 2019 Google eMail</a>
                                                </li>
                                        </ul>
                        </div>
               </div>
        </div>
</section>
