<section id="contact">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-left">
                                <h2 class="section-heading">Contact Us</h2>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-12"><h4>CarpentryConnect Johannesburg 2018 Contacts</h4>
                                <p>The following people are representatives of the funders
                                        <ul> 
                                                <li>  <a href="mailto:juan.steyn@nwu.ac.za">Juan Steyn</a> : <em>SADiLaR</em>
                                                <li>  <a href="mailto:anelda.vdwalt@gmail.com">Anelda van der Walt</a> : <em>RCCPII</em>
                                        </ul>
                                </p>   
                                <h4>General Inquiries</h4>
                                        <ul>
                                                <li><a href="mailto:carpentryconnect-jhb-2018@googlegroups.com">CarpentryConnect Johannesburg 2018 Google eMail</a>
                                                </li>
                                        </ul>
                        </div>
               </div>
        </div>
</section>
