<section id="contact">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-left">
                                <h2 class="section-heading">Contact Us</h2>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-12"><h4>Blended Learning SIG Meeting Contacts</h4>
                                <p>The following people are representatives of the funders
                                        <ul> 
                                                <li>  <a href="mailto:adelle.lotter@nwu.ac.za">Adelle Lotter</a> : <em>ASAUDIT Blended Learning SIG Convener</em>
                                                <li>  <a href="mailto:anelda.vdwalt@gmail.com">Anelda van der Walt</a> : <em>RCCPII</em>
                                        </ul>
                                </p>   
                                <h4>General Inquiries</h4>
                                        <ul>
                                                <li><a href="mailto:sa-blended-learning-sig@googlegroups.com">Blended Learning SIG Google eMail</a>
                                                </li>
                                        </ul>
                        </div>
               </div>
        </div>
</section>
