<!-- Services Section -->
    <section id="format">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conference Format</h2>
                    <h3 class="section-subheading text-muted"><em>See the <a href="https://TENET-RCCPII.github.io/CarpentryConnect-Johannesburg/#map">WITS PDH map</a>.</em></h3> 

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Carpentry Workshops</h4>
                    <p class="text-muted">On the first two days of CarpentryConnect-Johannesburg we will offer two Carpentry workshops in parallel. One workshop will focus on Digital Humanities and Libraries and <a href="http://librarycarpentry.org/">Library Carpentry</a> lessons will be taught.  The other Carpentry workshop will be aimed at researchers, students, and lecturers from Social Sciences and the lessons will come from the newly developed <a href="http://www.datacarpentry.org/lessons/#social-science-curriculum">Social Sciences curriculum</a>
                        <br \> <a href="https://TENET-RCCPII.github.io/CarpentryConnect-Johannesburg#prog">Check out the draft program</a>. You can <a href="https://www.quicket.co.za/events/48693-carpentryconnect-johannesburg-2018/#/">register to attend</a>.<br \>  You can ask for travel assistance <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbBHzZk-xEOHV5v3Zpd_QiZOEVrFouAwArkG5xvoDaK2fyCQ/viewform">here</a>.</p></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Skill-up Sessions</h4>
                    <p class="text-muted">We will offer a series of practical, hands-on skill-ups, workshops and breakout sessions to teach essential skills around coding, leading projects, community organization, curriculum development and other professional development 'must-haves'.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Instructor Training</h4>
                    <p class="text-muted">The 5th in-person instructor training event will run on 6 & 7 September and is open to anyone who is keen to become an instructor and have some experience with the tools that we teach as part of the Carpentries - Shell, Python, R, Github, git, OpenRefine, Spreadsheets, and more.</p>
                </div>       
            
              <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Networking Events</h4>
                    <p class="text-muted">There will be plenty of time to meet other Software, Library, and Data Carpenters from the South Afrian and international community. We encourage you to make use of the opportunity to meet others and build your own network.</p>
                </div>     
            
            </div>
        </div>
    </section>
