<section id="map" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">Birchwood Hotel and OR Tambo Conference Centre</h2>
        <p>
          The <a href="https://www.birchwoodhotel.co.za/">Birchwood Hotel and OR Tambo Conference Centre</a> is located only
          minutes from OR Tambo International Airport, within walking distance to a variety of shopping precincts and
          is close to restaurants and recreational facilities.. 
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.6620002248887!2d28.247336300461807!3d-26.175135169067534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95168b1a0f91e3%3A0xa0673df49d1b3e64!2sBirchwood+Hotel+%26+OR+Tambo+Conference+Centre!5e0!3m2!1sen!2sza!4v1547718108349" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   
          <p>
          <address>
            <strong>Birchwood Hotel and OR Tambo Conference Centre</strong><br>
            14 View Point Rd, Bardene, Boksburg, 1456
          </address>
        </p>
           </div>
    </div>
  </div>
</section>
