<section id="map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">WITS Professional Development Hub</h2>
        <p>
          The WITS Professional Development Hub is an extension to Wits University's Braamfontein Campus East. The campus can be easily accessed by public transport. PDH is situated just off Empire Road and is easily accessible by all major highways. 

        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.317473434818!2d28.029269615005415!3d-26.18634896960733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950c11c1fac465%3A0xdff359571c0642c4!2sWITS+PDH!5e0!3m2!1sen!2sza!4v1528378603090" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br/>
        </div>
        <p>
          <address>
            <strong>WITS Professional Development Hub</strong><br>
            85 Empire Road, Johannesburg, 2193
          </address>
        </p>
        <h3>Contact numbers</h3>
        <ul>
          <li>WITS PDH Number: +27 (0)11 717-9370</li>
          <li>WITS Campus Health: +27 (0)11 717-9111/13</li>
          <li>WITS Campus Control: +27 (0)11 17-4444</li>
        </ul>
      </div>
    </div>
  </div>
</section>
