<section id="map" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">Convention Centre at Emperor's Palace</h2>
        <p>
          The <a href="http://www.emperorspalace.com/conferences-and-events/conference-overview">Convention Centre at Emperor's Palace</a> is located only minutes from OR Tambo International Airport, within walking distance to a variety of shopping precincts and is close to restaurants and recreational facilities.. 

        </p>
        <div class="embed-responsive embed-responsive-16by9">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.5137779934903!2d28.219732950461133!3d-26.147391967934833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e951410e0047e43%3A0xd26e1a08351058e3!2sConvention+Centre+at+Emperors+Palace!5e0!3m2!1sen!2sza!4v1540904281281" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>        </div>
        <p>
          <address>
            <strong>Convention Centre at Emperor's Palace</strong><br>
            64 Jones Rd, O.R. Tambo, Kempton Park, 1627
          </address>
        </p>
           </div>
    </div>
  </div>
</section>
