<!-- Keynote Section -->
<section id="presenters" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2>Our Speakers and Facilitators</h2>
        <p class="text">We are excited to announce our speakers and facilitators for the upcoming Identity Management and
          Federation Workshop:</p>
      </div>
    </div>
    
    <h4>Presenters</a></h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>About</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td> <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Guy Halse"></td>
                <td>Guy Halse</td>
                <td><a href="https://orcid.org/0000-0002-9388-8592">Guy Halse</a> is Director: Trust & Identity at TENET, where he manages a suite of <a href="https://www.tenet.ac.za/services/trust-identity">trust & identity related services</a> including the South African eduroam national roaming operator, the South African Identity Federation (SAFIRE), and the South African ORCID consortium.</td>
              </tr>
              <tr>
                <td> <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Donald Coetzee"></td>
                <td>Donald Coetzee</td>
                <td><a href="https://orcid.org/0000-0003-2845-6969">Donald Coetzee</a> is a Senior Systems Administrator at TENET, and heavily involved with trust & identity services. He serves as one of SAFIRE's representatives on the eduGAIN steering group.</td>
              </tr>
              <tr>
                <td> <img class="img-responsive" src="{{ site.baseurl  }}/img/alex.jpeg" alt="Alex Mwotil"></td>
                <td>Alex Mwotil</td>
                <td><a href="https://www.linkedin.com/in/mwotil-alex-666a9524">Alex Mwotil</a> 
                  is a Senior Systems Engineer at Research and Education
                  Network for Uganda (RENU) and the technical contact for RENU Identity Federation (RIF). 
                  He is one of the engineers tasked with setting up RIF and has helped in bootstrapping a couple of
                  institutions to the federation. His other areas of expertise include cloud computing and threat 
                  analysis using open source intelligence.</td>
              </tr>
          </tbody>
       </table>
     </div>
   

  </div>
</section>
