<!-- Program Section -->
<section id="prog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 style="text-align:center;">Blended Learning SIG Meeting Program</h2>
        <p class="text" style="text-align:center;">Please note that this is a draft program. It will be updated over the next few weeks. If you have specific questions about the program, please contact the organisers directly.<br \>

        <h4>Monday, 19 November 2018</a></h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Event</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td>Monday</td>
                <td>9:00 - 10:00 am</td>
                <td>Registration & Coffee</td>
                <td>Foyer</td>
              </tr>

               <tr>
                <td>Monday</td>
                <td>10:00 - 10:15 am</td>
                <td><b>Opening and Welcome<br \>
                  <em>Adelle Lotter (NWU/SIG Convener)</em></td>
                <td>Room: TBC </td>
              </tr>
              <tr>
                <td>Monday</td>
                <td>10:15 - 11:00 am</td>
                <td><b>Keynote Address: Standards/The Next Generation Digital Learning Environment<br \>
                     <em>Marieke de Wit (SURFnet, Netherlands)</td>
                <td>TBC</td>
              </tr>


              <tr>
                <td>Monday</td>
                <td>11:00 - 11:30 am</td>
                <td>Refreshments & Networking </td>
                <td>Foyer</td>
              </tr>
              <tr>
                <td>Monday</td>
                <td>11:30 - 12:00 pm</td>
                <td><b>Discussion / Q&A Session<br \>
                  <em>TBC</em></td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Monday</td>
                <td>12:00 - 13:00 pm</td>
                <td><b>Standards/Next Generation Digital Learing Environments<br \>
                  <em>Presentations from universities attending</em></td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Monday</td>
                <td>13:00 - 14:00 pm</td>
                <td>Lunch Break</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Monday</td>
                <td>14:00 - 15:00 pm</td>
                <td><b>Digital Learning Services <br \>
                  <em>TBC</em></td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Monday</td>
                <td>15:00 - 15:30 pm</td>
                <td>Refreshments & Networking</td>
                <td>Foyer</td>
              </tr>
              <tr>
                <td>Monday</td>
                <td>15:30 - 16:30 pm</td>
                <td><b>Open Discussion<br \>
                  <em>All</em></td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Monday</td>
                <td>16:30 - 17:00 pm</td>
                <td><b>Wrap Up<br \>
                  <em>Adelle Lotter</em></td>
                <td>TBC</td>
              </tr>
              </tbody>
            </table>
        </div>

          <h4>Tuesday, 20 November 2018</h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Event</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody class="table-striped">
                <tr>
                  <td>Tuesday</td>
                  <td>8:00 - 9:00 am</td>
                  <td>Breakfast and networking</td>
                  <td>TBC</td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>9:00 - 9:30 am</td>
                  <td><b>Unisa's eRouter Model, OnScreen Marking <br \>
                    <em>Magdaleen Arlow (UNISA)</em></td>
                  <td>TBC</td>
                </tr>

                <tr>
                  <td>Tuesday</td>
                  <td>9:30 - 11:00 am</td>
                  <td><b>Show and Tell<br \>
                    <em>Presentations from universities attending</em></td>
                  <td>TBC </td>
                </tr>
               
                <tr>
                  <td>Tuesday</td>
                  <td>11:00 - 11:30 am</td>
                  <td>Coffee and networking</td>
                  <td>Foyer</td>
                </tr>

                <tr>
                  <td>Tuesday</td>
                  <td>11:30 - 12:30 pm</td>
                  <td><b>Training Material Development - Discussion<br \>
                    <em>TBC</em></td>
                  <td>TBC </td>
                </tr>
                         
                <tr>
                  <td>Tuesday</td>
                  <td>12:30 - 13:30 pm</td>
                  <td><b>Wrap-up and Next Steps<br \>
                    <em>TBC</em></td>
                  <td>TBC</td>
                </tr>

                <tr>
                  <td>Tuesday</td>
                  <td>13:30 pm</td>
                  <td>Packed Lunches for Take-away
                  <td>Foyer </td>
                </tr>
                              </tbody>

            
              </div>

          </div>


        </div>
      </div>
    </section>
