<!-- Program Section -->
<section id="prog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 style="text-align:center;">CarpentryConnect Johannesburg 2018 Program</h2>
        <p class="text" style="text-align:center;">Our program - follow links for session abstracts<br \>

       
        <h4>Monday - Wednesday, 3 - 5 September</a></h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Event</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td>Monday/Tuesday/Wednesday</td>
                <td>8:15-9:00 am</td>
                <td>Registration & Coffee</td>
                <td>Foyer</td>
              </tr>

               <tr>
                <td rowspan="3">Monday/Tuesday/Wednesday</td>
                <td rowspan="3">9:00 - 10:30 am</td>
                <td><b>Carpentry Workshop 1</b> <a href="https://dh-southernafrica.github.io/2018-09-03-CarpentryConnect-JHB-LC">DH/Library Carpentry</a> <br \>
                  <em>Juan Steyn</em></td>
                <td>Room 1 (Own Laptops)</td>
              </tr>
              <tr>
                <td><b>Carpentry Workshop 2</b> <a href="https://tenet-rccpii.github.io/2018-09-03-CarpentryConnect-JHB-Social-Sciences/">Data Carpentry: Social Sciences</a><br \>
                  <em>Sarah Brown</em></td>
                <td>Room 2 (Own Laptops)</td>
              </tr>
              <tr>
                <td><b>Carpentry Workshop 3</b> <a href="https://tenet-rccpii.github.io/2018-09-03-CarpentryConnect-JHB-SWC/">Software Carpentry</a><br \>
                  <em>Allegra Via</em></td>
                <td>Room 3 (Own laptops)</td>
              </tr>
              
                      <tr>
                <td>Monday/Tuesday/Wednesday</td>
                <td>10:30 - 11:00 am</td>
                <td>Coffee break</td>
                <td>Foyer</td>
              </tr>


         <tr>
                <td rowspan="3">Monday/Tuesday/Wednesday</td>
                <td rowspan="3">11:00 - 12:30 pm</td>
                <td><b>Carpentry Workshop 1</b> <a href="https://dh-southernafrica.github.io/2018-09-03-CarpentryConnect-JHB-LC">DH/Library Carpentry</a> <br \>
                  <em>Juan Steyn</em></td>
                <td>Room 1 (Own Laptops)</td>
              </tr>
              <tr>
                <td><b>Carpentry Workshop 2</b> <a href="https://tenet-rccpii.github.io/2018-09-03-CarpentryConnect-JHB-Social-Sciences/">Data Carpentry: Social Sciences</a><br \>
                  <em>Sarah Brown</em></td>
                <td>Room 2 (Own Laptops)</td>
              </tr>
              <tr>
                <td><b>Carpentry Workshop 3</b> <a href="https://tenet-rccpii.github.io/2018-09-03-CarpentryConnect-JHB-SWC/">Software Carpentry</a><br \>
                  <em>Allegra Via</em></td>
                <td>Room 3 (Own laptops)</td>
              </tr>
                      <tr>
                <td>Monday/Tuesday/Wednesday</td>
                <td>12:30 - 13:30 pm</td>
                <td>Lunch break</td>
                <td>Foyer</td>
              </tr>
         <tr>
                <td rowspan="3">Monday/Tuesday/Wednesday</td>
                <td rowspan="3">13:30 - 15:00 pm</td>
                <td><b>Carpentry Workshop 1</b> <a href="https://dh-southernafrica.github.io/2018-09-03-CarpentryConnect-JHB-LC">DH/Library Carpentry</a> <br \>
                  <em>Juan Steyn</em></td>
                <td>Room 1 (Own Laptops)</td>
              </tr>
              <tr>
                <td><b>Carpentry Workshop 2</b> <a href="https://tenet-rccpii.github.io/2018-09-03-CarpentryConnect-JHB-Social-Sciences/">Data Carpentry: Social Sciences</a><br \>
                  <em>Sarah Brown</em></td>
                <td>Room 2 (Own Laptops)</td>
              </tr>
              <tr>
                <td><b>Carpentry Workshop 3</b> <a href="https://tenet-rccpii.github.io/2018-09-03-CarpentryConnect-JHB-SWC/">Software Carpentry</a><br \>
                  <em>Allegra Via</em></td>
                <td>Room 3 (Own laptops)</td>
              </tr>
                      <tr>
                <td>Monday/Tuesday/Wednesday</td>
                <td>15:00 - 15:30 pm</td>
                <td>Coffee Break</td>
                <td>Foyer</td>
              </tr>
              
            <tr>
                <td rowspan="3">Monday/Tuesday/Wednesday</td>
                <td rowspan="3">15:30 - 16:30 pm</td>
                <td><b>Carpentry Workshop 1</b> <a href="https://dh-southernafrica.github.io/2018-09-03-CarpentryConnect-JHB-LC">DH/Library Carpentry</a> <br \>
                  <em>Juan Steyn</em></td>
                <td>Room 1 (Own Laptops)</td>
              </tr>
              <tr>
                <td><b>Carpentry Workshop 2</b> <a href="https://tenet-rccpii.github.io/2018-09-03-CarpentryConnect-JHB-Social-Sciences/">Data Carpentry: Social Sciences</a><br \>
                  <em>Sarah Brown</em></td>
                <td>Room 2 (Own Laptops)</td>
              </tr>
              <tr>
                <td><b>Carpentry Workshop 3</b> <a href="https://tenet-rccpii.github.io/2018-09-03-CarpentryConnect-JHB-SWC/">Software Carpentr</a><br \>
                  <em>Allegra Via</em></td>
                <td>Room 3 (Own laptops)</td>
              </tr>           
              
              </tbody>
            </table>
        </div>

          <h4>Thursday & Friday, 6 & 7 September</h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Event</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody class="table-striped">
                <tr>
                  <td>Thursday/Friday</td>
                  <td>8:30-9:00 am</td>
                  <td>Coffee and networking</td>
                  <td>Foyer</td>
                </tr>

                <tr>
                  <td>Thursday/Friday</td>
                  <td>9:00 - 10:30 am</td>
                  <td><b>Train-the-Trainer:</b> <a href="https://tenet-rccpii.github.io/2018-09-06-ttt-CarpentryConnect-JHB/">Carpentries Instructor Training</a><br \>
                    <em>Allegra Via</em></td>
                  <td>Room 1 </td>
                </tr>
               
                <tr>
                  <td>Thursday/Friday</td>
                  <td>10:30 - 11:00 am</td>
                  <td>Coffee and networking</td>
                  <td>Foyer</td>
                </tr>

                <tr>
                  <td>Thursday/Friday</td>
                  <td>11:00 - 12:30 pm</td>
                  <td>Train-the-Trainer:<br \><a href="https://tenet-rccpii.github.io/2018-09-06-ttt-CarpentryConnect-JHB/">Carpentries Instructor Training</a><br \>
                    <em>Allegra Via</a></em></td>
                  <td>Room 1 </td>
                </tr>
                         
                <tr>
                  <td>Thursday/Friday</td>
                  <td>12:30 - 13:30 pm</td>
                  <td>Lunch</td>
                  <td>Foyer</td>
                </tr>

                <tr>
                  <td>Thursday/Friday</td>
                  <td>13:30 - 15:00 am</td>
                  <td><b>Train-the-Trainer:</b> <a href="https://tenet-rccpii.github.io/2018-09-06-ttt-CarpentryConnect-JHB/">Carpentries Instructor Training</a><br \>
                    <em>Allegra Via</em></td>
                  <td>Room 1 </td>
                </tr>
            
               <tr>
                  <td>Thursday/Friday</td>
                  <td>15:00 - 15:30 pm</td>
                  <td>Coffee and networking</td>
                  <td>Foyer</td>
                </tr>

                <tr>
                  <td>Thursday/Friday</td>
                  <td>15:30 - 16:30 pm</td>
                  <td><b>Train-the-Trainer:</b> <a href="https://tenet-rccpii.github.io/2018-09-06-ttt-CarpentryConnect-JHB/">Carpentries Instructor Training</a><br \>
                    <em>Allegra Via</em></td>
                  <td>Room 1 </td>
                </tr>
                     </tbody>
            </table>
            </div>

          </div>


        </div>
      </div>
    </section>
