<!-- Program Section -->
<section id="prog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 style="text-align:center;">Identity Management and Federation Workshop Program</h2>
        <p class="text" style="text-align:center;">Please note that this is a draft program. It will be updated over the next few weeks. If you have specific questions about the program, please contact the organisers directly.<br \>

        <h4>Wednesday, 6 March 2019</a></h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Event</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td>Wednesday</td>
                <td>9:00 - 10:00 am</td>
                <td>Registration & Coffee</td>
                <td>Foyer</td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>10:00 - 10:15 am</td>
                <td><b>Opening and Welcome<br \>
                  <em>Guy Halse (SAFIRE)</em></td>
                <td>Room: TBC </td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>10:15 - 11:00 am</td>
                <td><b>Session 1</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>11:00 - 11:30 am</td>
                <td>Refreshments & Networking </td>
                <td>Foyer</td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>11:30 - 13:00 pm</td>
                <td>Session 2</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>13:00 - 14:00 pm</td>
                <td>Lunch Break</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>14:00 - 15:30 pm</td>
                <td>Session 3</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>15:30 - 16:00 pm</td>
                <td>Coffee & Networking</td>
                <td>Foyer</td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>16:00 - 17:00 pm</td>
                <td>Session 4</td>
                <td>TBC</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h4>Thursday, 7 March 2019</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Event</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td>Thursday</td>
                <td>7:30 - 8:30 am</td>
                <td>Breakfast and networking</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td>8:30 - 10:30 am</td>
                <td>Session 5</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td>10:30 - 11:00 am</td>
                <td>Coffee and networking</td>
                <td>Foyer</td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td>11:00 - 12:30 pm</td>
                <td>Session 6</td>
                <td>TBC </td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td>12:30 - 13:30 pm</td>
                <td>Lunch Break</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td>13:30 - 15:00 pm</td>
                <td>Session 7</td>
                <td>TBC </td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td>15:30 - 16:00 pm</td>
                <td>Coffee & Networking</td>
                <td>Foyer</td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td>16:00 - 17:00 pm</td>
                <td>Session 8</td>
                <td>TBC</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h4>Friday, 8 March 2019</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Event</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td>Friday</td>
                <td>7:30 - 8:30 am</td>
                <td>Breakfast and networking</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>8:30 - 10:30 am</td>
                <td>Session 9</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>10:30 - 11:00 am</td>
                <td>Coffee and networking</td>
                <td>Foyer</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>11:00 - 12:00 pm</td>
                <td>Session 10</td>
                <td>TBC </td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>12:00 - 13:00 pm</td>
                <td>Wrap up</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>13:00</td>
                <td>Packed lunches & departure</td>
                <td>Foyer </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  </div>
</section>
