<!-- Program Section -->
  <section id="prog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2 style="text-align:center;">Identity Management and Federation Workshop Programme</h2>

          <p class="text" style="text-align:center;">Please note that this is a draft programme and will be updated as we refine the curriculum and facilitators, and may change even during the course of the event. If you have specific questions about the programme, please contact the organisers directly.</p>

          <h4 id="prog-day1">Day 1: Identity …</h4>

          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" style="width: 10%">Day</th>

                  <th scope="col" style="width: 10%">Time</th>

                  <th scope="col" style="width: 70%">Description</th>

                  <th scope="col" style="width: 10%">Facilitator</th>
                </tr>
              </thead>

              <tbody>
                <tr class="info">
                  <td>Wednesday</td>

                  <td class="text-nowrap">09:00–10:00</td>

                  <td>Registration &amp; coffee</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Wednesday</td>

                  <td>10:00–10:15</td>

                  <td>
                    <strong>Opening &amp; welcome</strong>

                    <p><em>The obligatory housekeeping session: we'll introduce the facilitators and explain how the event will work.</em></p>
                  </td>

                  <td><a href="#bio-guy">Guy</a></td>
                </tr>

                <tr>
                  <td>Wednesday</td>

                  <td>10:15–11:00</td>

                  <td>
                    <strong>Session 1: Introductions</strong>

                    <p><em>We'll go through the room giving each participant an opportunity to tell us who you are, where you come from, what you do, and what your institution is currently doing with (federated) identity. The aim of this icebreaker is to help you get to know each other, and helps the facilitators understand the audience they're presenting to.</em></p>
                  </td>

                  <td>Participants, facilitated by <a href="#bio-alex">Alex</a></td>
                </tr>

                <tr class="info">
                  <td>Wednesday</td>

                  <td>11:00–11:30</td>

                  <td>Coffee &amp; networking</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Wednesday</td>

                  <td>11:30–12:30</td>

                  <td>
                    <strong>Session 2a: Identity &amp; the identity management lifecycle</strong> <a href="archive/#s-2a"><i class="fa fa-book"></i></a>

                    <p><em>This session explores identity as a theoretical construct, and introduces the terminology and language we need to understand digital identity.</em></p>
                  </td>

                  <td><a href="#bio-donald">Donald</a></td>
                </tr>

                <tr>
                  <td>Wednesday</td>

                  <td>12:30–13:00</td>

                  <td>
                    <strong>Session 2b: Laws of Identity</strong> <a href="archive/#s-2b"><i class="fa fa-book"></i></a>

                    <p><em>We'll briefly introduce Kim Cameron's 7 laws.</em></p>
                  </td>

                  <td><a href="#bio-guy">Guy</a></td>
                </tr>

                <tr class="info">
                  <td>Wednesday</td>

                  <td>13:00–14:00</td>

                  <td>Lunch</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Wednesday</td>

                  <td>14:00–15:30</td>

                  <td>
                    <strong>Session 3: Registries</strong> <a href="archive/#s-3"><i class="fa fa-book"></i></a>

                    <p><em>This session explores the concept of person and group registries, why we need them, and how to implement them. It will take a particular slant towards solutions that can be used both for organisational IdM and for managing virtual collaborations of the type that are increasingly common in inter-institutional research groups.</em></p>
                  </td>

                  <td><a href="#bio-guy">Guy</a></td>
                </tr>

                <tr class="info">
                  <td>Wednesday</td>

                  <td>15:30–16:00</td>

                  <td>Coffee &amp; networking</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Wednesday</td>

                  <td>16:00–17:00</td>

                  <td>
                    <strong>Session 4: Exercise: Silos v2</strong> <a href="archive/#s-4"><i class="fa fa-book"></i></a>

                    <p><em>Not just places to store grain…</em></p>
                  </td>

                  <td><a href="#bio-guy">Guy</a>, <a href="#bio-alex">Alex</a> &amp; <a href="#bio-donald">Donald</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <h4 id="prog-day2">Day 2: … Federation …</h4>

          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" style="width: 10%">Day</th>

                  <th scope="col" style="width: 10%">Time</th>

                  <th scope="col" style="width: 70%">Description</th>

                  <th scope="col" style="width: 10%">Facilitator</th>
                </tr>
              </thead>

              <tbody>
                <tr class="info">
                  <td>Thursday</td>

                  <td class="text-nowrap">07:30–08:30</td>

                  <td>Breakfast</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Thursday</td>

                  <td>8:30–10:30</td>

                  <td>
                    <strong>Session 5a: Federation concepts, architectures and role players</strong> <a href="archive/#s-5a"><i class="fa fa-book"></i></a>

                    <p><em>Once we've introduced the concept of an identity federation, we'll look at the different ways federations are built, how the federation trust model works, and what makes an academic identity federation.</em></p>
                  </td>

                  <td><a href="#bio-alex">Alex</a> &amp; <a href="#bio-donald">Donald</a></td>
                </tr>

                <tr>
                  <td>Thursday</td>

                  <td>10:30–11:00</td>

                  <td>
                    <strong>Session 5d: eduroam as a federation</strong> <a href="archive/#s-5d"><i class="fa fa-book"></i></a>

                    <p><em>We'll explore how eduroam works "under the hood" and use this to reinforce some of the federation concepts introduced earlier in the session.</em></p>
                  </td>

                  <td><a href="#bio-guy">Guy</a></td>
                </tr>

                <tr class="info">
                  <td>Thursday</td>

                  <td>10:30–11:00</td>

                  <td>Coffee &amp; networking</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Thursday</td>

                  <td>11:00–12:30</td>

                  <td>
                    <strong>Session 6: SAML &amp; SAML federations</strong> <a href="archive/#s-6"><i class="fa fa-book"></i></a>

                    <p><em>Expanding on the morning sessions, we'll deep-dive into SAML and its use in academic federation. In particular, we'll look at the flavour of SAML used by the research and education community, which differs from some commercial implementations (notably ADFS).</em></p>
                  </td>

                  <td><a href="#bio-alex">Alex</a></td>
                </tr>

                <tr class="info">
                  <td>Thursday</td>

                  <td>12:30–13:30</td>

                  <td>Lunch</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Thursday</td>

                  <td>13:30–14:30</td>

                  <td>
                    <strong>Session 7a: Exercise: SAML traces &amp; debugging</strong> <a href="archive/#s-7a"><i class="fa fa-book"></i></a>

                    <p><em>Now you know what SAML is, it'd be really useful to know what to do when it goes wrong ;-)</em></p>
                  </td>
                  <td><a href="#bio-guy">Guy</a></td>
                </tr>

                <tr>
                  <td>Thursday</td>

                  <td>14:30–15:00</td>

                  <td>
                    <strong>Session 7b: eduPerson(Scoped)Affiliation</strong> <a href="archive/#s-7b"><i class="fa fa-book"></i></a>

                    <p><em>Why affiliation is important in academic federation and what this eduPersonAffiliation thing actually means, and why implementing it right™ is harder than people think.</em></p>
                  </td>

                  <td><a href="#bio-guy">Guy</a></td>
                </tr>


                <tr class="info">
                  <td>Thursday</td>

                  <td>15:00–15:30</td>

                  <td>Coffee &amp; networking</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Thursday</td>

                  <td>15:30–17:00</td>

                  <td>
                    <strong>Session 8: Exercise: SimpleSAMLphp as an identity provider</strong> <a href="archive/#s-8"><i class="fa fa-book"></i></a>

                    <p><em>Armed with a conceptual background, we'll jump into building our own identity providers using <a href="https://simplesamlphp.org/">SimpleSAMLphp</a>. NB: Some knowledge of <abbr title="Linux, Apache, MySQL &amp; PHP">LAMP</abbr> installations is required for this exercise.</em></p>
                  </td>

                  <td><a href="#bio-donald">Donald</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <h4 id="prog-day3">Day 3: … in South Africa.</h4>

          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" style="width: 10%">Day</th>

                  <th scope="col" style="width: 10%">Time</th>

                  <th scope="col" style="width: 70%">Description</th>

                  <th scope="col" style="width: 10%">Facilitator</th>
                </tr>
              </thead>

              <tbody>
                <tr class="info">
                  <td>Friday</td>

                  <td class="text-nowrap">07:30–08:30</td>

                  <td>Breakfast</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Friday</td>

                  <td>08:30–09:15</td>

                  <td>
                    <strong>Session 9a: Joining eduroam; eduroam best practices</strong> <a href="archive/#s-9a"><i class="fa fa-book"></i></a>

                    <p><em>The how and what of eduroam in South Africa.</em></p>
                  </td>

                  <td><a href="#bio-guy">Guy</a></td>
                </tr>

                <tr>
                  <td>Friday</td>

                  <td>09:15–10:00</td>

                  <td>
                    <strong>Session 9b: Joining SAFIRE; SAFIRE best practices</strong> <a href="archive/#s-9b"><i class="fa fa-book"></i></a>

                    <p><em>The how and what of the South African Identity Federation.</em></p>
                  </td>

                  <td><a href="#bio-donald">Donald</a></td>
                </tr>


                <tr class="info">
                  <td>Friday</td>

                  <td>10:30–11:00</td>

                  <td>Coffee &amp; networking</td>

                  <td>-</td>
                </tr>

                <tr>
                  <td>Friday</td>

                  <td>11:00–12:30</td>

                  <td>
                    <strong>Session 10: Panel</strong>

                    <p><em>An open closing session, where you get a chance to ask us to expand on anything that still doesn't make sense.</em></p>
                  </td>

                  <td><a href="#bio-guy">Guy</a>, <a href="#bio-alex">Alex</a> &amp; <a href="#bio-donald">Donald</a></td>
                </tr>

                <tr>
                  <td>Friday</td>

                  <td>12:30–13:00</td>

                  <td>
                    <strong>Wrap up</strong>

                    <p><em>All the loose ends before you go home.</em></p>
                  </td>

                  <td>TBC</td>
                </tr>

                <tr class="info">
                  <td>Friday</td>

                  <td>13:00</td>

                  <td>Packed lunches &amp; departure</td>

                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </section>
