<!-- Registration Section -->
<section id="registration" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">Event Registration</h2>
         <p class="text-muted">If you have been nominated by your institution to participate, please complete the <a href="https://goo.gl/forms/np0tjNSmB7JOrTTg2">online registration form</a> and upload proof of nomination and support from your institution. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left">
         <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Type</th>
                <th>What's included</th>
                <th>Closing date</th>
                <th>Cost</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nominated Participants funded through RCCPII</td>
                <td style="vertical-align: middle;" >Full registration
                  <ul>
                    <li>Access to 2-day workshop</li>
                    <li>Refreshments during coffee breaks and light lunch on both days</li>
                    <li>Evening networking event on Monday, 19 November 2018</li>
                    <li>Accommodation on a bed & breakfast basis at Birchwood Hotel on 19 November 2018</li>
                  </ul>
                </td>
                <td>1 November, 2018</td>
                <td>Free (Responsible for own travel costs & No-show fee applies) </td>
              </tr>
              <tr>
                <td>Nominated Participants funded through their Institutions</td>
                <td style="vertical-align: middle;" >Full registration
                  <ul>
                    <li>Access to 2-day workshop</li>
                    <li>Refreshments during coffee breaks and light lunch on both days</li>
                    <li>Evening networking event on Monday, 19 November 2018</li>
                  </ul>
                </td>
                <td>5 November, 2018</td>
                <td>Free (Responsible for own travel and accommodation costs & No-show fee applies) </td>
              </tr>
              <tr>
                <td>Non-nominated Participants (limited space available: preference given to nominees)</td>
                <td style="vertical-align: middle;" >Full registration
                  <ul>
                    <li>Access to 2-day workshop</li>
                    <li>Refreshments during coffee breaks and light lunch on both days</li>
                  </ul>
                </td>
                <td>Open from 1 November - 10 November, 2018</td>
                <td>Free (Responsible for own travel and accommodation costs & No-show fee applies)</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
</div>
</section>
