<!-- Registration Section -->
<section id="registration" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">

        <h2 class="section-heading">Conference Registration</h2>

        <p class="text-muted">There are a range of <a href="https://www.quicket.co.za/events/48693-carpentryconnect-johannesburg-2018/#/">registration types</a>. If you have received an email from the organisers and has been nominated by your institution to participate, please contact us directly on <a href="mailto:carpentryconnect-jhb-2018@googlegroups.com">carpentryconnect-jhb-2018@googlegroups.com</a> with proof of nomination and support from your institution. Alternatively please register through the links below.</p>

      </div>
    </div>
    <!--
    <style>
    table, th, td {
    border: 1px solid black;
    table {
    border-spacing: 5px;
  }
}
th, td {
padding: 10px;
}
<style>
a:link {
text-decoration: none;
}
</style> -->



<div class="row">
  <div class="col-lg-12 text-left">


    <!-- <div class="list-group">
    <div class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </div>
  <div class="list-group-item">
  <a class="btn btn-primary pull-right" href="#">Buy ticket</a>
  <h4 class="list-group-item-heading">List group item heading</h4>
  <p class="list-group-item-text">...</p>
</div>
</div> -->


<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Type</th>
        <th>What's included</th>
        <th>Closing date</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://www.quicket.co.za/events/48693-carpentryconnect-johannesburg-2018/#/">Library Carpentry & Digital Humanities Workshop</a> (3-5 September)</td>
        <td style="vertical-align: middle;" rowspan="3">
          Full registration
          <ul>
            <li>Access to 3-day workshop</li>
            <li>Refreshments during coffee breaks and light lunch on both days</li>
            <li>Evening networking event on Tuesday 4 September</li>
          </ul>
        </td>
        <td>20 August, 2018</td>
        <td>Free (Responsible for own travel and accommodation costs & No-show fee applies) </td>
      </tr>
        <tr>
        <td><a href="https://www.quicket.co.za/events/48693-carpentryconnect-johannesburg-2018/#/">Software Carpentry Workshop</a> (3 - 5 September)</td>
        <td>20 August, 2018</td>
        <td>Free (Responsible for own travel and accommodation costs & No-show fee applies) </td>
      </tr>
      <tr>
        <td><a href="https://www.quicket.co.za/events/48693-carpentryconnect-johannesburg-2018/#/">Social Sciences Data Carpentry Workshop</a> (3 - 5 September)</td>
        <td>20 August, 2018</td>
        <td>Free (Responsible for own travel and accommodation costs & No-show fee applies)</td>
      </tr>
      <tr>
        <td><a href="https://www.quicket.co.za/events/48693-carpentryconnect-johannesburg-2018/#/">Carpentry Instructor Training</a> (6&7 September)</td>
        <td>Full registration
        <ul>
          <li>Access to two-day workshop</li>
          <li>Refreshments during coffee breaks and light lunch on both days</li>
          <li>Evening networking event on Wednesday 5 September</li>
          </ul>
    </td>
        <td>20 August, 2018</td>
        <td>Free (Responsible for own travel and accommodation costs & No-show fee applies)</td>
      </tr>
    </tbody>
  </table>
</div>
<a class="btn btn-primary pull-right" href="https://www.quicket.co.za/events/48693-carpentryconnect-johannesburg-2018/#/">Book tickets</a>
</div>
</div>

</div>
</section>
