<!-- Registration Section -->
<section id="registration" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">

        <h2 class="section-heading">Conference Registration</h2>
        
        <p><font color=blue><strong>PLEASE NOTE THAT THE EVENT IS NOW FULLY SUBSCRIBED. PLEASE CONTACT <a href="mailto:carpentryconnect-jhb-2018@googlegroups.com">the event organisers</a> SHOULD YOU HAVE ANY QUESTIONS OR WOULD LIKE TO BE ADDED TO THE WAITLIST</font></strong></p>
        

        <p class="text-muted">There are a range of <a href="https://www.quicket.co.za/events/48693-carpentryconnect-johannesburg-2018/#/">registration types</a>. If you have received an email from the organisers and has been nominated by your institution to participate, please contact us directly on <a href="mailto:carpentryconnect-jhb-2018@googlegroups.com">carpentryconnect-jhb-2018@googlegroups.com</a> with proof of nomination and support from your institution. Alternatively please register through the links below.</p>

      </div>
    </div>
    <!--
    <style>
    table, th, td {
    border: 1px solid black;
    table {
    border-spacing: 5px;
  }
}
th, td {
padding: 10px;
}
<style>
a:link {
text-decoration: none;
}
</style> -->



<div class="row">
  <div class="col-lg-12 text-left">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Type</th>
            <th>What's included</th>
            <th>Closing date</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Library Carpentry & Digital Humanities Workshop (3-5 September)</td>
            <td style="vertical-align: middle;" rowspan="3">
              Full registration
                <ul>
                <li>Access to 3-day workshop</li>
                <li>Refreshments during coffee breaks and light lunch on both days</li>
                <li>Evening networking event on Tuesday 4 September</li>
                </ul>
            </td>
            <td>20 August, 2018</td>
            <td>Free (Responsible for own travel and accommodation costs & No-show fee applies) </td>
          </tr>
          <tr>
            <td>Software Carpentry Workshop (3 - 5 September)</td>
            <td>20 August, 2018</td>
            <td>Free (Responsible for own travel and accommodation costs & No-show fee applies) </td>
          </tr>
          <tr>
            <td>Social Sciences Data Carpentry Workshop (3 - 5 September)</td>
            <td>20 August, 2018</td>
            <td>Free (Responsible for own travel and accommodation costs & No-show fee applies)</td>
          </tr>
          <tr>
            <td>Carpentry Instructor Training (6&7 September)</td>
            <td>Full registration
              <ul>
              <li>Access to two-day workshop</li>
              <li>Refreshments during coffee breaks and light lunch on both days</li>
              <li>Evening networking event on Wednesday 5 September</li>
              </ul>
            </td>
            <td>20 August, 2018</td>
            <td>Free (Responsible for own travel and accommodation costs & No-show fee applies)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
</div>
</section>
