<!-- Donor Section -->
    <section id="sponsors" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
       
                    <h2>Our Sponsors</h2>
                    
                    <p class="text">We would like to acknowledge the very generous support of the following initiatives, who are helping to make CarpentryConnect Johannesburg 2018 possible.
                    </p>
                    
                   <a href="https://tenet-rccpii.github.io/rccpii-2018/"><img src="/img/logos/rccpii-logo-final.png" alt="Rural Campuses Connection Project II" style="width:340px;height:200px;"></a>
                        
                        <p> The Rural Campuses Connection Project is funded by the South African Department of Higher Education and Training (DHET). The project is managed by Universities South Africa (USAF) and implemented by the Tertiary and Education Research Network (TENET).</p>
      <br \>

                    
                   <a href="https://www.sadilar.org/"><img src="/img/logos/sadilar.png" alt="SADiLaR" style="width:294px;height:80px;"></a>
                    
                    <p>The South African Centre for Digital Language Resources (SADiLaR) is a national centre supported by the Department of Science and Technology (DST). </p>
                   
                </div>
                
                
            </div>
        </div>
    </section>
