<!-- Keynote Section -->
<section id="trainers" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2>Our Speakers and Facilitators</h2>
        <p class="text">We are excited to announce that we have several local and international speakers and facilitators 
          for the upcoming Blended Learning SIG Meeting</p>
      </div>
    </div>
    
    <h4>Presenters</a></h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>About</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td> <img class="img-responsive" src="/img/marieke.jpg" alt="Marieke de Wit - van de Vecht"></td>
                <td>Ms. Marieke de Wit</td>
                <td><a href="https://nl.linkedin.com/in/mvandevecht">Marieke de Wit</a> is the Community Manager for Educational Services at SURF, the collaborative ICT organisation for Dutch education and research.</td>
              </tr>
          </tbody>
       </table>
     </div>
    
 
     <h4>Facilitators & Organisers</a></h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>About</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td> <img class="img-responsive" src="/img/adelle.jpeg" alt="Adelle Lotter"></td>
                <td>Ms. Adelle Lotter</td>
                <td><a href="https://za.linkedin.com/in/adelle-lotter-70171180">Adelle Lotter is a senior IT Consultant at the NorthWest University. Adelle is also the convener of the ASAUDIT Blended Learning SIG.</td>
              </tr>
              <tr>
                <td> <img class="img-responsive" src="/img/lianne.jpeg" alt="Lianne Keiller"></td>
                <td>Ms. Lianne Keiller</td>
                <td>Lianne Keiller manages the Stellenbosch University's Learning Technology Systems. Lianne is also currently pursuing her PhD in Learning Technologies.</td>
              </tr>
              <tr>
                <td> <img class="img-responsive" src="/img/charlene.jpg" alt="Charlene Isaacs"></td>
                <td>Ms. Charlene Isaacs</td>
                <td>Charlene Isaacs is the junior project coordinator at ASAUDIT.</td>
              </tr>
          </tbody>
       </table>
     </div>
    

  </div>
</section>
